@use "sass:color";
@use "../vars/colors";

.image-slider {
  position: relative;
  width: fit-content;
  height: 100%;
}

.top {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% * var(--slider-position));
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

.bottom {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center right;
}

.slider {
  position: absolute;
  top: 50%;
  right: calc(100% * var(--slider-position));
  translate: 50% -50%;

  width: 35px;
  height: 35px;
  border-radius: 100px;
  border: none;
  margin: 0;

  touch-action: none;

  box-shadow: 0 0 2px color.change($color: colors.$black, $alpha: 0.25);
  background: url("/ui/slider.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-color: transparent;

  transition: ease-out 0.1s;
  transition-property: width, height, box-shadow, background-color;
}

.slider:hover,
.slider:focus {
  width: 40px;
  height: 40px;
  box-shadow: 0 0 10px color.change($color: colors.$black, $alpha: 0.25);

  cursor: grab;
}

.slider:active {
  width: 25px;
  height: 25px;
  box-shadow: 0 0 5px color.change($color: colors.$black, $alpha: 0.25);
  background-color: colors.$white;

  cursor: grabbing;
}
