@use "../vars/margins";
@use "../vars/padding";

.colors-list {
  display: flex;
  flex-direction: column;
  gap: margins.$s;

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }

  .color-swatch {
    display: inline-block;
    width: calc((900px - 2 * padding.$l - 2 * margins.$m) / 23);
    height: calc((900px - 2 * padding.$l - 2 * margins.$m) / 23);
    border-radius: 100%;
    border-width: 1px;
    border-style: solid;
  }
}
