@use "../vars/margins";
@use "../layouts/layouts";

.icon-list {
  @include layouts.center-content;
  width: fit-content;
  max-width: 100%;
  flex-flow: row wrap;
  line-height: 0;
  gap: margins.$s;
}