$black: #000000;
$white: #ffffff;
$background: #eeeff7;
$primary: #1100ff;
$secondary: #ff678f;
$accent: #e9ff00;

$colors: (
  "black": $black,
  "white": $white,
  "background": $background,
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
);
