@use "breakpoints";
@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap");

// sizes
html {
  --font-size-h1: 120px;
  --font-size-h2: 50px;
  --font-size-h3: 40px;
  --font-size-h4: 24px;
  --font-size-base: 16px;
}

// tablet styles
@media (min-width: breakpoints.$breakpoint-tablet) {
  // sizes
  html {
    --font-size-h1: 120px;
    --font-size-h2: 96px;
    --font-size-base: 18px;
  }
}

// desktop styles
@media (min-width: breakpoints.$breakpoint-desktop-small) {
  // sizes
  html {
    --font-size-h1: 150px;
    --font-size-h3: 60px;
    --font-size-h4: 28px;
    --font-size-base: 22px;
  }
}

$font-size-h1: var(--font-size-h1);
$font-size-h2: var(--font-size-h2);
$font-size-h3: var(--font-size-h3);
$font-size-h4: var(--font-size-h4);
$font-size-base: var(--font-size-base);

// weights
$font-weight-normal: 500;
$font-weight-bold: 700;

// letter spacing
$letter-spacing: -0.045em;

// line heights
$line-height-h1: 0.62;
$line-height-h3: 0.8;
$line-height: normal;

// font family
$font-family: var(--font-instrument-sans);

// fonts
$font-h1: normal normal $font-weight-bold $font-size-h1 / $line-height-h1
  $font-family;
$font-h2: normal normal $font-weight-bold $font-size-h2 / $line-height
  $font-family;
$font-h3: normal normal $font-weight-bold $font-size-h3 / $line-height-h3
  $font-family;
$font-h4: normal normal $font-weight-bold $font-size-h4 / $line-height
  $font-family;
$font-base: normal normal $font-weight-normal $font-size-base / $line-height
  $font-family;
