main {
  font: var(--font-base);
  letter-spacing: var(--letter-spacing);
}

h1 {
  font: var(--font-h1);
  letter-spacing: var(--letter-spacing);
}

h2 {
  font: var(--font-h2);
  letter-spacing: var(--letter-spacing);
}

h3 {
  font: var(--font-h3);
  letter-spacing: var(--letter-spacing);
}

h4 {
  font: var(--font-h4);
  letter-spacing: var(--letter-spacing);
}