@use "../vars/breakpoints";
@use "../layouts/layouts";
@use "../vars/colors";
@use "../vars/margins";

.hero {
  position: relative;
  height: 100vh;
  @include layouts.center-content;
  overflow: hidden;

  .year {
    position: absolute;
    vertical-align: baseline;

    right: 0;
    bottom: -5px;

    height: var(--font-size-h2);

    font: var(--font-h2);
    letter-spacing: var(--letter-spacing);
    color: colors.$primary;
  }

  h1 {
    svg:nth-of-type(1) {
      position: absolute;
      top: 25%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 60%;
    }

    svg:nth-of-type(2) {
      position: absolute;
      bottom: 25%;
      right: 0;
      transform: translate(50%, 50%);
      height: 40%;
    }
  }
}

@media (min-width: breakpoints.$breakpoint-tablet) {
  .hero {
    margin: margins.$m;
    height: calc(100vh - margins.$m * 2);
  }
}
