@use "../vars/breakpoints";
@use "../layouts/layouts";
@use "../vars/colors";
@use "../vars/corners";
@use "../vars/margins";

.thank-you {
  position: relative;
  height: 100vh;
  @include layouts.center-content;
  flex-flow: column nowrap;
  overflow: hidden;

  h2 {
    position: relative;
    width: min-content;

    font: var(--font-h1);
    flex-grow: 1;
    align-content: center;
    text-align: center;

    svg:nth-of-type(1) {
      position: absolute;
      top: 25%;
      left: 0;
      transform: translate(-50%, -50%);
      height: 50%;
    }

    svg:nth-of-type(2) {
      position: absolute;
      bottom: 25%;
      right: 0;
      transform: translate(50%, 50%);
      height: 50%;
    }
  }

  .year {
    position: absolute;
    vertical-align: baseline;

    right: 0;
    bottom: -5px;

    height: var(--font-size-h2);

    font: var(--font-h2);
    letter-spacing: var(--letter-spacing);
    color: colors.$primary;
  }
}

.contacts {
  justify-self: flex-end;
  align-self: self-start;

  a {
    width: fit-content;
  }
}

@media (min-width: breakpoints.$breakpoint-tablet) {
  .thank-you {
    h2 {
      width: fit-content;
    }

    h2 > span {
      display: inline-block;
      height: fit-content;
    }
    margin: margins.$m;
    height: calc(100vh - margins.$m * 2);
  }
}

@media (min-width: breakpoints.$breakpoint-desktop-small) {
  .contacts {
    li {
      display: flex;
      flex-direction: column-reverse;
      height: 5ex;
      font-size: 18px;
    }

    a {
      &:hover,
      &:focus {
        padding-left: 0;
        padding-bottom: 0.5ex;
      }

      &:active {
        padding-left: 0;
        padding-bottom: 2ex;
      }
    }

    ul {
      display: flex;
      flex-flow: row;
      gap: margins.$s;
    }
  }
}
