@use "../vars/corners";
@use "../vars/padding";
@use "../vars/margins";
@use "../vars/breakpoints";

.custom-gallery {
  padding: padding.$m;
  display: flex;
  flex-flow: column nowrap;
  gap: margins.$xs;
}

.row {
  display: grid;
  gap: margins.$xs;
}

.row > figure,
.row > img,
.row > video,
.row > picture {
  border-radius: corners.$round-s;
  height: var(--row-height);
  width: 100%;
  object-fit: cover;
}

@media (min-width: breakpoints.$breakpoint-tablet) {
  .custom-gallery {
    width: calc(100% - 2 * margins.$m);
    margin: 0 margins.$m;
    padding: padding.$l;
    gap: margins.$m;
  }

  .row {
    gap: margins.$m;
  }

  .row > figure,
  .row > img,
  .row > video,
  .row > picture {
    border-radius: corners.$round-m;
  }
}
