@use "../vars/breakpoints";
@use "../vars/margins";
@use "../vars/corners";
@use "../vars/colors";
@use "layouts";

.wrapper {
  width: 100%;
  min-height: 160px;
  height: 25vw;
}

.section-cover {
  width: 100%;
  height: 100%;
  @include layouts.center-content;

  img {
    max-height: 80%;
    max-width: calc(min(400px, 70%));
  }
}

@media (min-width: breakpoints.$breakpoint-tablet) {
  .wrapper {
    width: calc(100% - 2 * margins.$m);
    margin: 0 margins.$m;
  }
}
