@use "../vars/breakpoints";
@use "../vars/margins";
@use "../vars/corners";
@use "../vars/colors";
@use "layouts";

.section-cover {
  width: 100%;
  min-height: 160px;
  height: 25vw;
  @include layouts.center-content;
  border-radius: corners.$round-l;

  img {
    max-height: 50%;
    max-width: 400px;
  }
}

@media (min-width: breakpoints.$breakpoint-tablet) {
  .section-cover {
    width: calc(100% - 2 * margins.$m);
    margin: 0 margins.$m;
  }
}