@use "vars/colors";

@each $name, $value in colors.$colors {
  .border-#{$name} {
    border-color: #{$value};
  }
  .background-#{$name} {
    background-color: #{$value};
    color: colors.$black;
  }
}

.background-transparent {
  background-color: transparent;
}

.background-primary,
.background-black {
  color: colors.$white;
}

.background-custom {
  background: var(--custom-color);
}

.border-custom {
  border-color: var(--border-color);
}